<header class="page-header">
  <h1>
    About Us
  </h1>
</header>

<p>We're a ridiculous store offering ridiculous products at made-up prices!</p>
<p>If you'd like to shop with us frankly we think you're unwise.</p>
<p>But everything's set up and ready to go, so shop at your leisure!</p>
<br />

<h2>Shipping</h2>
<p>We don't ship our products internationally or nationally</p>
<small>Simply: we don't ship our products. They're not even our products.</small>

